<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fabricantes</title>
		<link rel="stylesheet" type="text/css" href="/styles.css" />
	</head>
	<body>
		<h1>FABRICANTES</h1>
		<button><a href="/listarproductos">Productos</a></button>
		<button><a href="/listarcategorias">Categorias</a></button>
		<button><a href="/listarfabricantes">Fabricantes</a></button>
		<br /><br />
		<table>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Acciones</th>
				<th>Productos del fabricante</th>
			</tr>
			<% fabricantes.forEach(fabricante => { %>
			<tr>
				<td><%= fabricante.id %></td>
				<td><%= fabricante.nombre %></td>
				<td>
					<a href="/editarfabricantes/<%= fabricante.id %>">Editar</a>
					<a href="/eliminarfabricantes/<%= fabricante.id %>">Eliminar</a>
				</td>
				<td><a href="/verfabricante/<%= fabricante.id %>">Listado productos</a></td>
			</tr>
			<% }) %>
		</table>
		<a href="/agregarfabricantes">Agregar fabricante</a>
	</body>
</html>
